{{#paper-card as |card|}}
    {{#card.title as |cardTitle|}}
        {{#cardTitle.text as |text|}}

            {{#text.headline class="text-info"}}
                <div class="data-view__title">
                    {{title}}
                </div>

                <div class="pull-right">
                    {{#link-to 'data-editor.new'}}
                        {{#paper-button raised=true class="data-view__add-item"}}
                            {{paper-icon "note_add" size=18}}
                            Add item
                        {{/paper-button}}
                    {{/link-to}}
                </div>
            {{/text.headline}}

        {{/cardTitle.text}}
    {{/card.title}}

    {{#card.content class="layout-row data-view__table-container"}}
        <div class="layout-row new-data-from">
            {{outlet}}
        </div>
        <table class="data-view__table table table-hover table-striped">
            <thead>
                <tr class="layout-row">
                    <th class="flex-10">№</th>
                    <th class="flex-30">name</th>
                    <th class="flex-30">value</th>
                    <th class="flex"></th>
                </tr>
            </thead>

            <tbody>
                {{#each data as |item index|}}
                    <tr class="layout-row" id="{{to_json item "id"}}">
                        <td class="flex-10">{{sum index 1}}</td>
                        <td class="flex-30">{{to_json item "name"}}</td>
                        <td class="flex-30">{{to_json item "value"}}</td>
                        <td class="flex data-view__edit-buttons">
                            {{#link-to 'data-editor.edit' item}}
                                {{#paper-button primary=true iconButton=true class="data-view__edit-button flex-100"}}
                                    {{paper-icon "mode_edit" size=18}}
                                {{/paper-button}}
                            {{/link-to}}
                            {{#paper-button warn=true onClick=(action "onDeleteItem" item) iconButton=true class="data-view__edit-button flex-100"}}
                                {{paper-icon "delete" size=18}}
                            {{/paper-button}}
                        </td>
                    </tr>
                {{/each}}
            </tbody>
        </table>
    {{/card.content}}
{{/paper-card}}
